body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#root {
    height: 100%;
}

.wrapper {
    background-size: cover;
    height: 100%;
    padding: 0 15px;
    transition: all .3s ease-in-out;
}

input.search {
	width: 700px;
	font-size: 62px;
	background: transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #efefef;
	color: #efefef;
	font-weight: 100;
}

input.search:focus {
    outline: none;
}

.weather-data {
	font-size: 326px;
	font-weight: 100;
	color: #efefef;
	position: absolute;
	bottom: 0;
}

span.deg {
	font-size: 144px;
	display: block;
	float: right;
}